.timer {
  display: flex;
  font-size: 1.8rem;
  gap: 1rem;
  align-items: center;

  &__save {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;

    input {
      min-height: 30px;
      font-size: 2rem;
    }

    input.invalid {
      border-color: #720000;
      border-style: solid;
      position: relative;
    }
  }

  &__save-warning {
    position: absolute;
    bottom: 4rem;
    background-color: #222222;
    border: 1px solid #793030;
    border-radius: 4px;
    padding: 2px 6px;
    color: #e6e6e6;
    
    &::after {
      background-color: #222222;
      border-bottom: 1px solid #793030;;
      border-right: 1px solid #793030;;
      content: '';
      position: absolute;
      top: 90%;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: rotate(45deg)
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__button {
    &--start {
      background-color: #2a702c7a;
      color: white;

      &:hover {
        background-color: #2a702c;
      }
    }

    &--clear {
      background-color: #7212127a;
      color: white;

      &[disabled] {
        opacity: 0.4;
      }

      &:hover {
        background-color: #721212;

        &[disabled] {
          background-color: #7212127a;
          cursor: default;
          border-color: transparent;
        }
      }

      // target disabled

    }

    &--save {
      background-color: #1832727a;
      color: white;

      &[disabled] {
        opacity: 0.4;
      }

      &:hover {
        background-color: #183272;

        &[disabled] {
          background-color: #1832727a;
          cursor: default;
          border-color: transparent;
        }
      }
    }
  }
}