.time-list {
   width: 100%;
   font-size: 1.6rem;
   height: 28rem;
   padding: 0.1rem;
   align-items: center;
   overflow-x: hidden;
   overflow-y: auto;
   position: relative;
   
   &__item {
      display: flex;
      justify-content: space-between;
      padding: 0 0.2rem 0.3rem 0.2rem;
      gap: 0.4rem;
      align-items: center;

      &:nth-child(odd) {
         background-color: #313131;
      }

      &:nth-child(even) {
         background-color: #242424;
      }

      &--hover {
         &:nth-child(odd),
         &:nth-child(even) {
            background-color: #171717;
         }
      }
   }

   &__full {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1px;
      padding: 0 0.2rem;
   }

   &__main {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      min-height: 2.4rem;

      div {
         display: flex;
         gap: 0.4rem;
      }
   }

   &__divider {
      height: 1px;
      width: 94%;
      background-color: rgb(85, 85, 85);
      align-self: center;
   }

   &__supplemental {
      display: flex;
      justify-content: end;
      gap: 8px;

      button {
         font-size: 1.4rem;
      }
   }

   &__options {
      cursor: pointer;
      flex-shrink: 1;
      background-color: transparent;
      padding: 0 0.2rem;
      border-color: none;
      width:0;

      &:hover {
         border-color: transparent;
      }

      // Transition
      &-appear {
         width: 0;
         transition: width 200ms;
      }

      &-appear-active {
         width: 20px;
      }
      &-appear-done {
         width: 20px;
      }
   }
}
