.time-list {
   width: 100%;
   font-size: 1.6rem;
   height: 20rem;
   padding: 0.1rem;
   
   &__item {
      display: flex;
      justify-content: space-between;
      opacity: 0;
      padding-bottom: 0.3rem;

      &:nth-child(odd) {
         background-color: #313131;
      }

      &:nth-child(even) {
         background-color: #242424;
      }

      // Transition
      &-appear {
         opacity: 1;
         transition: opacity 200ms;
      }

      &-appear-done {
         opacity: 1;
      }
   }
}
