.time-list {
   width: 100%;
   font-size: 1.6rem;
   height: 20rem;
   
   &__item {
      display: flex;
      justify-content: space-between;

      &:nth-child(odd) {
         background-color: #313131;
      }

      &:nth-child(even) {
         background-color: #242424;
      }
   }
}