#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timer {
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  &__button {
    &--start {
      background-color: #2a702c7a;
      color: white;

      &:hover {
        background-color: #2a702c;
      }
    }

    &--clear {
      background-color: #7212127a;
      color: white;

      &:hover {
        background-color: #721212;
      }
    }

    &--save {
      background-color: #1832727a;
      color: white;

      &:hover {
        background-color: #183272;
      }
    }
  }
}